body {
    margin: 0px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#display {
    width: 100%;
    font-size: 5rem;
    background-color: hsl(0, 0%, 25%);
    color: white;
}

.calculator {
    background-color: hsl(0, 0%, 15%);
    max-width: 500px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 10px;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    font-size: 3rem;
    font-weight: bold;
    padding: 10px;
    background-color: hsl(0, 0%, 30%);
    color: white;
}

.operationBtn {
    background-color: hsl(30, 100%, 50%);
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operationBtn:hover {
    background-color: hsl(30, 100%, 60%);
}

.operationBtn:active {
    background-color: hsl(30, 100%, 70%);
}


@media (max-width:600px) {
    button {
        height: 70px;
        width: 70px;
        border-radius: 35px;
    }

    .calculator {
        max-width: 350px;
    }
}